<%- include("partials/header.ejs"); %>

<div class="container my-5">
  <div class="p-5  bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis text-center">Contacts</h1>
    <p class="lead text-start">
      Contact Us We would love to hear from you! Whether you have a question,
      feedback, or just want to say hello, we're here to connect with you. Feel
      free to reach out to us through any of the following channels:
      <ul class="lead text-start">
        <li>
      Email:
      [Insert your email address] </li>
      <li>
      Phone: [Insert your phone number] </li>
      <li>
      Social Media: </li>
    </ul> </p>
    <p class="lead text-start"> 
    Find us on [Insert social media platforms] and send us a direct
      message or tag us in your posts. We value your input and strive to provide
      the best experience for our readers and contributors. If you have any
      suggestions, ideas for collaboration, or if you'd like to contribute your
      own diary entry to our blog, please don't hesitate to get in touch.
      Additionally, if you encounter any technical issues while navigating our
      website, or if you have concerns regarding privacy and data security,
      please let us know. We take these matters seriously and are committed to
      ensuring a smooth and secure user experience. Your feedback is invaluable
      to us as we continue to grow and improve our Diary Blog. We appreciate
      your time and look forward to hearing from you soon. Warm regards, The
      Diary Blog Team
    </p>
  </div>
</div>

<%- include("partials/footer.ejs"); %>
