<%- include("partials/header.ejs"); %>
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <div class="container py-1">
      <h1 class="text-body-emphasis">Welcome, to my world!</h1>
      <p class="col-lg-8 mx-auto lead">
        Where words find solace, memories come alive, and dreams take flight.
        Step into the enchanting world of diary writing and embark on a personal
        journey of self-expression, reflection, and discovery.
      </p>
      
      <form action="/create" method="GET">
        <input class="btn btn-secondary" type="submit" value="New Post" />
      </form>
    </div>
  </div>
</div>
<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Daily notes</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
  <%- include("partials/posts-section.ejs") %>
</div>
</div>

<%- include("partials/footer.ejs"); %>
